{% extends 'base_layer.html' %}
{% block content %}
<div class="article-detail">
   <div class="article">
     <img src ="{{ article.thumb.url }}"/>
      <h2>{{ article.title }}</h2>
      <p>{{ article.body }}</p>
      <p>{{ article.date }}</p>
<!--   {% for article in articles %}
     <div class="article">
      <h2><a href="{% url 'articles:detail' slug=article.slug %}">{{ article.title }}</a></h2>
       <p>{{ article.snippet }}</p>
       <p>{{ article.date }}</p>
     </div>
   {% endfor %} -->
   </div>
</div>
{% endblock %}
